.catalogoUno img:nth-child(1) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.catalogoUno img:nth-child(2) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.catalogoUno img:nth-child(3) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.catalogoUno img:nth-child(4) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.catalogoUno img:nth-child(5) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.descripcionRate p:nth-child(1) {
    font-weight: 600;
}

.descripcionRate p:nth-child(1) {
    font-weight: 700;
}

.estrellas i:nth-child(5) {
    color: #c4c4c4;
}

.precio h3:nth-child(1) {
    color: #c4c4c4;
    text-decoration: line-through;
}

.colorShoe:nth-child(4) {
    border: none;
}

.sizesDiv a:nth-child(6),
.sizesDiv a:nth-child(20) {
    color: #FBDF77;
    border-color: #FBDF77;
}


.sizesDiv a:nth-child(9),
.sizesDiv a:nth-child(12) {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.sizesDiv a:nth-child(17) {
    background-color: #000;
    color: #fff;
}

.catalogoAgregar button:nth-child(1) {
    background-color: #000;
    color: #fff;
}


.catalogoShoes {
    display: flex;
    margin-top: 3rem;
    height: 100%;
    justify-content: space-between;
}

.catalogoUno {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.catalogoUno img {
    flex: 1;
    width: auto;
    max-width: 100%;
    background-color: red;
}

.catalogoDos {
    height: 100%;
    width: 55%;
    background-color: blue;
}

.catalogoTres {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* estas alturas son provisorias. luego las mando a sus divs */
.catalogoTres div:nth-child(5) {
    height: 10%;
}

.tresZonaUno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18%;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 30%;
}

.descripcionRate {
    display: flex;
    gap: 0.3rem;
    align-items: top;
    height: 100%;
    width: 30%;
    font-size: 0.8rem;
}

.votacionRate {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.estrellas {
    display: flex;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    height: fit-content;
    color: #02C715;
}

.tresZonaUno h2 {
    letter-spacing: 0.1rem;
}

.precio {
    display: flex;
    text-align: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: #E72C39;
}

.catalogoColors {
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid yellow;
}

.coloresShoes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.colorShoe {
    height: 4rem;
    width: 4rem;
    border-radius: 0.3rem;
    background-color: #000;
    border: 2px solid #A5A5A5;
}

.catalogoSizes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    border: 1px solid red;
}

.sizesDiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    align-content: space-between;
    grid-row-gap: 0.3rem;
}

.sizesDiv a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    height: 2rem;
    width: 4.2rem;
    border-radius: 0.3rem;
    border: 2px solid #A5A5A5;
}

.catalogoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28%;
    border: 1px solid green;
}

.catalogoInfo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.catalogoInfo a i {
    font-size: 1.9rem;
}

.catalogoAgregar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.catalogoAgregar button {
    padding: 0.5rem 1rem;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: none;
}
