.catalogoUno img:nth-child(1),
.catalogoUno img:nth-child(2),
.catalogoUno img:nth-child(3),
.catalogoUno img:nth-child(4),
.catalogoUno img:nth-child(5) {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.descripcionRate p:nth-child(1) {
    font-weight: 600;
}

.descripcionRate p:nth-child(1) {
    font-weight: 700;
}

.estrellas i:nth-child(5) {
    color: #c4c4c4;
}

.precio h3:nth-child(1) {
    color: #c4c4c4;
    text-decoration: line-through;
}

.colorShoe:nth-child(4) {
    border: none;
}

.sizesDiv a:nth-child(6),
.sizesDiv a:nth-child(20) {
    color: #FBDF77;
    border-color: #FBDF77;
}


.sizesDiv a:nth-child(9),
.sizesDiv a:nth-child(12) {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.sizesDiv a:nth-child(17) {
    background-color: #000;
    color: #fff;
}

.catalogoAgregar button:nth-child(1) {
    background-color: #000;
    color: #fff;
}


.catalogoShoes {
    display: flex;
    margin-top: 3rem;
    height: 100%;
    justify-content: space-between;
}

.catalogoUno {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.catalogoUno img {
    flex: 1;
    width: auto;
    max-width: 100%;
    background-color: red;
}

.catalogoDos {
    height: 100%;
    width: 55%;
    background-color: blue;
}

.catalogoTres {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.tresZonaUno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18%;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 30%;
}

.descripcionRate {
    display: flex;
    gap: 0.3rem;
    align-items: top;
    height: 100%;
    width: 30%;
    font-size: 0.8rem;
}

.votacionRate {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.estrellas {
    display: flex;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    height: fit-content;
    color: #02C715;
}

.tresZonaUno h2 {
    letter-spacing: 0.1rem;
}

.precio {
    display: flex;
    text-align: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: #E72C39;
}

.catalogoColors {
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coloresShoes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.colorShoe {
    height: 4rem;
    width: 4rem;
    border-radius: 0.3rem;
    background-color: #000;
    border: 2px solid #A5A5A5;
}

.catalogoSizes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
}

.sizesDiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    align-content: space-between;
    grid-row-gap: 0.3rem;
    z-index: 1;
}

.sizesDiv a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    height: 2rem;
    width: 4.2rem;
    border-radius: 0.3rem;
    border: 2px solid #A5A5A5;
}

.catalogoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28%;
}

.catalogoInfo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.catalogoInfo a i {
    font-size: 1.9rem;
}

.catalogoAgregar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.catalogoAgregar button {
    padding: 0.5rem 1rem;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: none;
}


@media screen and (max-width:767px) {
    .catalogoColors a:nth-child(n) {
        width: 3.5rem;
        height: 3.5rem;
    }

    .sizesDiv a:nth-child(n) {
        height: 2rem;
        width: 3.5rem;
    }

    .ocultarPhone {
        display: none;
    }

    .catalogoShoes {
        flex-direction: column;
    }

    .catalogoDos,
    .catalogoTres {
        width: 100%;
    }

    .catalogoSizes {
        height: 20rem;
    }

    .descripcionRate,
    .votacionRate {
        width: fit-content;
    }

    .catalogoAgregar {
        flex-direction: column;
        align-items: center;
        height: 8rem;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .catalogoColors a:nth-child(n) {
        width: 6rem;
        height: 6rem;
    }

    .sizesDiv a:nth-child(n) {
        height: 3rem;
        width: 6rem;
    }

    .ocultarTablet {
        display: none;
    }

    .catalogoShoes {
        flex-direction: column;
    }

    .catalogoDos,
    .catalogoTres {
        width: 100%;
    }

    .catalogoColors {
        gap: 1rem;
    }

    .catalogoSizes {
        margin: 3rem 0 1rem 0;
        height: 30rem;
    }

    .descripcionRate,
    .votacionRate {
        width: fit-content;
    }

    .catalogoAgregar {
        flex-direction: column;
        align-items: center;
        height: 10rem;
        gap: 1rem;
        margin-top: 3rem;
    }

    .catalogoAgregar button {
        width: 30%;
        height: 2.7rem;
    }
}


@media screen and (min-width:1024px) and (max-width:1439px) {}


@media screen and (min-width:1440px) and (max-width:1920px) {}